.bigcontainer{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
 
  height: 100vh;
}

.box-container{
  display:flex;
  justify-content: center;
  
}

.box-style{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  
  width:400px;
  height:500px;
  margin:10px;
  position:relative;
  
}

.img-style{
  width:350px;
  height:400px;
}

.win{
  border: 20px solid green;
}

.lose{
  border: 20px solid red;
}

.tie{
  border: 20px solid black;
}

body{
  font-size:30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.box-Detail{
  padding:10px;
 
  
}



.button-style{
  font-size:20px;
  text-align:center;
  color:white;
  background-color:rgb(51, 191, 252);
  padding:10px;
  width:100px;
  border-radius:10px;
  margin-left:10px;
  margin-top:10px;
  border: none;
}

.button-style:hover{
  transform:scale(1.1)
}

@media(orientation:portrait){
  .box-container{
    display:block;
  }
  .result-Style{
    display:none;
  }
}